* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}

.center{
    padding-left:calc(50% - 637px);
    padding-right:calc(50% - 637px);
}

a {
    text-decoration: none;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
      
}

.heading__logo{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 5px 1px;
}

.heading__text__Grow{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.heading__text__Be{
    color: rgb(242, 88, 34) ;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 50px;
}

.header_link_home{
    color: rgb(242, 88, 34);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
}
.header_link{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
}
.info{
    display: flex;
    justify-content: space-between;
    padding-top: 163px;
}
.main_info{
    display: flex;
    flex-direction: column;
}
.title{
    width: 507px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 32px;
}
.sub_title{
    width: 456px;
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 39px;
}
.buttons{
    display: flex;
    gap: 50px;
    
}
.start{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.4);
    background: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch{
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos_items{
    display: flex;
    justify-content: space-between;
    padding-block: 97px;
}
